<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNGpckg.Shopcluse_Editprofile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>invalid_firstname_lastname_phoneno</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_firstname_lastname_blank_phoneno</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>valid_fname_lname_phoneno</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_firstname_blank_lastname_phoneno</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>All_values_blank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_phoneno_blank_firstname_lastname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>valid_email_pass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
