<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.All_values_blank()[pri:1, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">All_values_blank</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>54</td> <td>&nbsp;</td><td title="&lt;&lt;Shopcluse_Editprofile.afterTest()[pri:0, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:18:51</td>   <td>-17259</td> <td>&nbsp;</td><td title="&gt;&gt;Shopcluse_Editprofile.beforeTest(java.lang.String)[pri:0, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.enter_firstname_blank_lastname_phoneno()[pri:2, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">enter_firstname_blank_lastname_phoneno</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.enter_firstname_lastname_blank_phoneno()[pri:3, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">enter_firstname_lastname_blank_phoneno</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.enter_phoneno_blank_firstname_lastname()[pri:4, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">enter_phoneno_blank_firstname_lastname</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.invalid_firstname_lastname_phoneno()[pri:5, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">invalid_firstname_lastname_phoneno</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.valid_email_pass()[pri:0, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">valid_email_pass</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/01/05 17:19:08</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopcluse_Editprofile.valid_fname_lname_phoneno()[pri:6, instance:TestNGpckg.Shopcluse_Editprofile@1329eff]">valid_fname_lname_phoneno</td> 
  <td>main@657381435</td>   <td></td> </tr>
</table>
