<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f673">  <td>21/01/06 15:59:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Shopclues_AddItem.beforeTest(java.lang.String)[pri:0, instance:TestNGpckg.Shopclues_AddItem@46fa7c39]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1523457748</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/01/06 15:59:45</td>   <td>6449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopclues_AddItem.newtab_additem()[pri:0, instance:TestNGpckg.Shopclues_AddItem@46fa7c39]">newtab_additem</td> 
  <td>main@1523457748</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/01/06 16:00:29</td>   <td>49692</td> <td>&nbsp;</td><td title="&lt;&lt;Shopclues_AddItem.afterTest()[pri:0, instance:TestNGpckg.Shopclues_AddItem@46fa7c39]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1523457748</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/01/06 16:00:29</td>   <td>49797</td> <td>&nbsp;</td><td title="&gt;&gt;Shopclues_AddItem.beforeTest(java.lang.String)[pri:0, instance:TestNGpckg.Shopclues_AddItem@770d3326]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1523457748</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/01/06 16:00:35</td>   <td>55760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Shopclues_AddItem.newtab_additem()[pri:0, instance:TestNGpckg.Shopclues_AddItem@770d3326]">newtab_additem</td> 
  <td>main@1523457748</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>21/01/06 16:01:31</td>   <td>112321</td> <td>&nbsp;</td><td title="&lt;&lt;Shopclues_AddItem.afterTest()[pri:0, instance:TestNGpckg.Shopclues_AddItem@770d3326]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1523457748</td>   <td></td> </tr>
</table>
